In [1]:
import numpy as np
import pandas as pd

# Import data

In [59]:
pgen = pd.read_stata("/Users/huvi/Downloads/QE/Thesis/data/pgen.dta")
ppathl = pd.read_stata("/Users/huvi/Downloads/QE/Thesis/data/ppathl.dta")
hgen = pd.read_stata("/Users/huvi/Downloads/QE/Thesis/data/hgen.dta")
pl = pd.read_csv("/Users/huvi/Downloads/QE/Thesis/data/pl.csv")

In [26]:

pgen = pgen[pgen.syear == 2001]
pgen = pgen.loc[:, ['pid','hid','pgbilzeit','pgfamstd','pglabnet','pgemplst','pgtatzeit','pguebstd','pgmps92','pgexpft','pgexppt','pgexpue']]
colname = ['pid','hid','training','marital','net_income','full_time','work_time','overtime',
           'job_status','full_exp','part_exp','unemp_exp']
pgen.columns = colname

In [29]:
pgen.training.value_counts()

10.5                    5813
11.5                    3321
9.0                     2623
12.0                    2269
18.0                    1576
11.0                    1483
13.0                    1173
15.0                     785
10.0                     672
[-2] trifft nicht zu     591
16.0                     577
14.5                     446
14.0                     371
7.0                      282
13.5                     193
[-1] keine Angabe         80
17.0                      51
8.5                       45
Name: training, dtype: int64

In [58]:
filtering = ['[-1] keine Angabe', "[-2] trifft nicht zu", "[-3] nicht valide", "[-4] Unzulaessige Mehrfachantwort", "[-5] in Fragebogenversion nicht enthalten", "[-6] Fragebogenversion mit geaenderter Filterfuehrung", "[-7] Only available in less restricted edition", "[-8] Frage in diesem Jahr nicht Teil des Frageprogramms"]
pgen[~pgen.iloc[:, 0:12].isin(filtering).any(axis=1)].shape

(10592, 12)

In [55]:
pgen.iloc[:, 0:12].shape

(22351, 12)

In [ ]:
df[(df.iloc[:,-12:] == -1).any(axis=1)]

In [38]:
pgen[pgen.training == '[-1] keine Angabe']

,pid,hid,training,marital,net_income,full_time,work_time,overtime,job_status,full_exp,part_exp,unemp_exp
225765,1602,167,[-1] keine Angabe,"[1] Verheiratet, mit Ehepartner zusammenlebend",244.0,[2] Teilzeitbeschäftigung,34.400002,3.5,31.0,20.0,0.25,0.75
225785,5203,523,[-1] keine Angabe,[3] Ledig,102.0,"[4] Unregelmässig, geringfügig erwerbstät.",[-1] keine Angabe,[0] keine Ueberstunden letzten Monat,[-2] trifft nicht zu,0.0,1.083,0.0
225821,9803,981,[-1] keine Angabe,"[1] Verheiratet, mit Ehepartner zusammenlebend",1790.0,[1] Voll erwerbstätig,50.0,5.8,101.300003,8.583,5.917,0.0
226359,70803,82139,[-1] keine Angabe,[4] Geschieden / eingetragene gleichgeschlecht...,1023.0,[1] Voll erwerbstätig,42.0,[0] keine Ueberstunden letzten Monat,32.5,2.417,2.25,1.167
226385,73605,7366,[-1] keine Angabe,[5] Verwitwet / Lebenspartner/-in aus eingetra...,[-2] trifft nicht zu,[5] Nicht erwerbstätig,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,42.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
247379,7003005,700304,[-1] keine Angabe,[3] Ledig,325.0,"[3] Ausbildung, Lehre",35.0,[0] keine Ueberstunden letzten Monat,52.900002,0.0,0.0,0.0
247462,7008703,700878,[-1] keine Angabe,[3] Ledig,256.0,"[3] Ausbildung, Lehre",38.5,[0] keine Ueberstunden letzten Monat,42.5,0.0,0.0,0.0
247492,7010104,701017,[-1] keine Angabe,[3] Ledig,193.0,"[3] Ausbildung, Lehre",40.0,[0] keine Ueberstunden letzten Monat,31.5,0.0,0.583,0.0
247818,7213204,725609,[-1] keine Angabe,"[1] Verheiratet, mit Ehepartner zusammenlebend",671.0,[1] Voll erwerbstätig,42.0,[0] keine Ueberstunden letzten Monat,60.400002,0.667,0.0,0.0
247974,7230003,723002,[-1] keine Angabe,[3] Ledig,[-2] trifft nicht zu,[5] Nicht erwerbstätig,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,0.0,0.0,0.0